@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;400&display=swap');

:root {
    --div-height: 40rem;
    --border-color: rgb(184, 183, 183);
    --div-border-clr: rgb(35, 35, 85);
    --icon-color: rgb(35, 35, 85);
    --quick-link-border-clr: rgb(113, 113, 156);
    --secondary-height: 30rem;
    --sub-text: rgb(90, 90, 90);
    /*  */
    --main-color: #071c35;
    --secondary-color: rgb(237, 237, 237);
    --main-color-trans: #071c3581;
    --placeholder-clr: #272727;
    --quick-links-bgclr: #dfdfdf;
    --shadow-color: rgb(197, 197, 197);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
}

nav:first-of-type {
    box-shadow: 0px 0px 4px 0px gray;
    padding-left: 3rem;
    padding-right: 3rem;
}

nav:last-of-type {
    padding-left: 3rem;
    padding-right: 3rem;
    color: rgb(95, 94, 94);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 0.5rem 0.7rem;
}

nav ul li:hover {
    cursor: pointer;
    font-weight: bold;
}

nav ul li i {
    margin-right: 2px;
    color: rgb(11, 11, 71);
}

nav:last-of-type i {
    color: rgb(35, 35, 85);
}

nav:last-of-type>ul>li:first-of-type {
    border-right: 1px solid rgb(202, 202, 202);
}

/* site-content */
.site-content {
    padding: 0 7rem;
    text-align: justify;
}

.banner img {
    width: 100%;
    height: 50vh;
}

.announcement-cont {
    margin-top: 1rem;
    background-color: #1D305E;
    padding: 1rem;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ann-icon {
    background-color: white;
    width: fit-content;
    padding: 5px 7px;
    border-radius: 50%;
}

.ann-lm-btn {
    background-color: white;
    padding: 6px;
}

.ann-text {
    width: 85%;
    color: white;
    font-size: 16.5px;

}

.ann-text marquee {
    font-size: 17px;
    display: flex;
    align-items: center;
}

.ann-lm-btn:hover {
    cursor: pointer;
}

/*  */

.main-cont {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.left-main {
    width: 30%;
    height: var(--div-height);
    overflow: hidden;
}

.right-main {
    overflow: hidden;
    width: 70%;
    height: var(--div-height);
}

.block {
    border: 1px solid var(--border-color);
    height: var(--div-height);
}

.common-tools,
.site-vis{
    height: 30rem;
}

.common-tools>.block>div:nth-of-type(2),
.site-vis>.block>div:nth-of-type(2){
    height: 27rem;
    overflow-y: auto;
}


.block-header {
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    font-size: 16px;
    height: 3rem;
}

.quick-link-cont {
    padding: 1rem;
    height: 37rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quick-links {
    height: 100%;
    list-style-type: none;
    box-sizing: border-box !important;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.quick-links li {
    flex: 1 1 31%;
    border: 1px solid var(--quick-link-border-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    height: 110px;
    width: 100%;
}

.quick-links li:hover {
    cursor: pointer;
}

.quick-links li i {
    font-size: 30px;
    margin-bottom: 8px;
    color: var(--div-border-clr);
}

/* LN */
.news-select {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.news-select ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.news-select li {
    border: 1px solid var(--quick-link-border-clr);
}

.news-select li:hover {
    cursor: pointer;
}

.news-select ul:first-of-type li {
    min-width: 60px;
    text-align: center;
    padding: 5px 15px;
}

.news-select ul:last-of-type li {
    border-radius: 50%;
    aspect-ratio: 1/1;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.news {
    padding: 0 1rem;
}

.news-banner {
    height: 21rem;
}

.news-banner img {
    height: 100%;
    width: 100%;
}

.news-date {
    margin-top: 8px;
    font-size: 16px;
    color: var(--icon-color);
    font-weight: 600;
}

.news-date i {
    font-size: 20px;
    margin-right: 10px;
}

.news-heading {
    margin-top: 5px;
    font-weight: 600;
    height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news-text {
    margin-top: 5px;
    color: rgb(77, 76, 76);
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.news-lm-btn {
    background-color: var(--icon-color);
    color: white;
    padding: 8px 10px;
    width: fit-content;
    float: right;
    margin-top: 0.3rem;
}

/* Secondary */
.sec-main .left-main,
.sec-main .right-main {
    height: var(--secondary-height) !important;
}

.sec-main .block {
    border: 1px solid var(--border-color);
    height: 100%
}

.bday-slider-main {
    height: 27rem;
    padding: 10px
}

.bday-slider .bday-img {
    height: 15rem;
    margin-top: 1rem;
    width: 100%;
}

.bday-slider-main .emp-name {
    margin-top: 1rem;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    color: var(--div-border-clr);
    font-size: 16px;
    text-transform: uppercase;
}

.bday-slider-main .emp-des {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--sub-text);
}

.bday-slider-main .greet-btn {
    background-color: var(--icon-color);
    color: white;
    width: fit-content;
    padding: 8px 20px;
    margin: 0 auto;
    margin-top: 1rem;
}

.bday-slider-main .greet-btn:hover {
    cursor: pointer;
}

.sec-main .right-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 11px;
}

.sec-main .right-main>div {
    flex: 0 0 49.2%;
}

/* .sec-main .right-main>div .block{} */

.new-associate-main {
    height: 100%;
    padding: 0 10px;
}

.naa-slide-item {
    display: flex;
    width: 100%;
    border: 1px solid var(--quick-link-border-clr);
    margin: 10px 0;
    padding: 10px;
    justify-content: space-between;
}

.naa-slide-item .emp-icon {
    width: 4.5rem;
    height: 4.5rem;
}

.naa-slide-item .emp-icon img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.naa-slide-item .emp-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.naa-slide-item .emp-nd {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.naa-slide-item .emp-mail:hover {
    cursor: pointer;
}

.naa-slide-item .emp-mail i {
    font-size: 30px;
}

.naa-slide-item .emp-name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.naa-slide-item .emp-des {
    font-size: 12px;
}

.documents-main-cont {
    height: 100%;
    overflow-y: auto;
    padding: 0 10px;
}

.documents-main-cont .doc-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--div-border-clr);
    padding: 10px;
    margin: 10.1px 0;
}

.documents-main-cont .doc-item:hover {
    cursor: pointer;
}

.documents-main-cont .doc-item i {
    font-size: 18px;
}

.documents-main-cont .doc-item>div:nth-of-type(2) {
    width: 80%;
}

.mem-slider-main {
    height: 100%;
    padding: 10px;
}

.mem-slider-main .mem-img {
    height: 18rem;
    background-color: red;
}

.mem-slider-main .mem-img img {
    height: 100%;
    width: 100%;
}


.mem-slider-main .mem-des {
    margin-top: 5px;
    height: 7.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


/* Events */
.events {
    height: 100%;
    overflow-y: auto;
}

.events ul {
    list-style-type: none;
    padding: 0 10px;
}

.events ul>li {
    display: flex;
    margin: 10px 0;
}

.cal-div {
    width: 125px;
}

.events .top {
    border-radius: 10px 10px 0 0;
    width: 100%;
    background-color: var(--main-color);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

.cal-div .bottom {
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    padding: 3px 0;
}

.cal-div .date {
    font-size: 20px;
}

.cal-div .day {
    font-size: 12px;
    color: rgb(66, 66, 66);
    font-weight: 600;
}

.event-text {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: black;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.event-heading {
    font-size: 14px;
}

.event-time {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 4px;
}

.event-time i {
    margin-right: 10px;
}

.event-time span {
    margin: 0 10px;
}

.announcements-inner {
    box-sizing: border-box;
    padding: 1rem 3rem
}

.ar-main-cont{
    padding: 10px;
}

.ar-main-cont .block-img {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.ar-main-cont .block-img img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.ar-main-cont .emp-name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.ar-main-cont .emp-des {
    font-size: 16px;
}

.ar-container .sub-heading {
    margin: 8px 0;
    font-size: 17px;
    font-weight: 600;
    color: #1f1e1e;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

footer {
    margin-top: 10px;
    background-color: var(--div-border-clr);
    color: white;
    height: 3rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

@media (max-width:1280px) {
    .left-main {
        width: 27%;
    }

    .right-main {
        width: 72%;
    }
    .site-content {
        padding: 0 5rem;
    }
}